.contextMenu{
    position: absolute;
    display:flex;
    flex-direction: column;
    z-index: 5;
    width:200px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    /* border: 1px solid #565656; */
    
    box-shadow: 2px 2px 8px #0007;
    
}

.contextMenu__button{
    margin: 5px 0;
    height: 25px;
    font-size: 18px;
    border:none;
   /*  border-top: 1px solid #565656; */
    background-color: white;
    font-family: 'Lato', sans-serif;
}

.contextMenu__button:hover, .contextMenu__button:focus{
    background-color: #e5e5e5;
}