.sidebarInfo{
    padding: 10px;
    /* border: 1px solid black; */
    width: 20%;
    max-width: 330px;
    background-color: #EBEBEB;
}
.sidebarInfo__closeIcon{
    font-size: 30px;
    color: #A5A5A5;
    display: block;
    cursor: pointer;
    border: none;
    background: none;
}
.sidebarInfo__closeIcon:hover,
.sidebarInfo__closeIcon:focus{
    color: #6d6d6d;
}

.sidebarInfo__fileIcon{
    font-size: 100px;
    text-align: center;
    display: block;
}
.sidebarInfo__data{
    margin: 2em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.sidebarInfo__data > p{
    padding: 1em 0;
    font-family: 'lato', sans-serif;
    /* border: 1px solid red; */
    width: 35%;
}
.sidebarInfo__buttons{
    margin-top: 55px;
    display: flex;
    justify-content: space-around;
}

.sidebarInfo_buttons__style{
    font-size: 30px;
    color: rgb(116, 116, 116);
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}
.sidebarInfo_buttons__style:hover,
.sidebarInfo_buttons__style:focus{
    color: rgb(165, 165, 165);
}